static/Backgrounds/Frosthaven/
static/Backgrounds/TI4/
static/Music/Frosthaven/Boss/
static/Music/Frosthaven/Combat/
static/Music/Frosthaven/Intermission/
static/Music/Frosthaven/Victory/
static/Music/TI4/Peace/
static/Music/TI4/Pre-Game/
static/Music/TI4/War/
static/Sounds/TI4/
static/UI/
static/Videos/TI4/