.player-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    background-color: rgb(133, 132, 132);
    /* border: 2px solid #000000; */

    transition: transform 1s ease, height 0.5s ease;
    /* Add height transition for smooth scaling */
    max-width: 100%;
    padding-left: 5%;

    overflow: hidden;
}

.avatar {
    width: 4vw;
    height: auto;
    border-radius: 50%;
}

.player-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;

    font-size: 14px;
}

.player-info {
    text-align: center;
    flex-grow: 1;
    /* Make sure player info takes remaining space */
}

.player-info h3 {
    font-size: 0.5em;
    margin: 0;

}

.player-info p {
    font-size: 1em;
    margin: 0;
}