
/* Ensure the body and html elements take up the full viewport */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
    /*background-color: black;*/
}

/* Dashboard UI error texts */
.error-text {
    color: white;
    font-size: 2vw;
    font-family: 'Nasalization';
}

/* Gamestate Text */
#gamestate-text {
    position: absolute;
    top: 5%;
    right: 5%;
    translate: -50% -50%;
    color: rgba(0, 255, 0, 1);
    font-size: 2vw;
    font-family: 'Nasalization';
    font-style: italic;
}

/* Fullscreen video */
video {
    position: absolute; /* Position the video absolutely */
    top: 0;
    left: 0;
    width: 100%;      /* Full viewport width */
    height: 100%;     /* Full viewport height */
    object-fit: cover; /* Cover the area without distortion */
    z-index: -1;      /* Send the video to the back */
}

.table-container {
    width: 100%;
}

.left-frame {
    position: relative;
    left: 2.5%;
    top: 7%;
    z-index: 1;
    width: 43%;
    height: 83%;
}

.left-frame-title {
    text-align: center;
    font-family: 'Nasalization';
    font-size: 2vw;
    font-style: italic;
    color: white;
}

#objectives-table {
    width: 100%;
    table-layout: fixed; /* Ensures table cells don't expand */
}

#players-table {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-collapse: collapse;
    /*font-size: 18px;*/
    font-size: 1vw;
    text-align: center;
    table-layout: fixed; /* Ensure fixed table layout */
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 1%;
    border: 2px solid rgba(0, 0, 255, 0.5);
}

#left-frame-objectives {
    position: absolute;
    height: 83%;
    left: 0%;
    width: 100%;
}

#left-frame-objectives-title {
    position: relative;
    left: 50%;
    translate: -50% -50%;
    top: -3%;
}

#objectives-table {
    position: absolute;
    top: 7%;
    font-size: 1vw;
    table-layout: fixed; /* Ensure fixed table layout */
    width: 100%;
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 1%;
    height: 92%;
    border-collapse: collapse /* Used to show the borders for each row */
}

#left-frame-agendas {
    position: absolute;
    height: 83%;
    left: -110%; /* Start off-screen and re-appear programmatically once an agenda is created*/
    width: 100%;
}

#left-frame-agendas-title {
    position: relative;
    left: 50%;
    translate: -50% -50%;
    top: -3%;
}

#agendas-table {
    position: absolute;
    top: 7%;
    font-size: 1vw;
    table-layout: fixed;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 1%;
    height: 92%;
}

td {
    /*width: 100%; /* Each column takes up 1/8th of the table width */
    color: rgba(255, 255, 255, 1);
    font-family: 'Nasalization', sans-serif;
}

#objectives-table tr {
    /*border: 2px solid rgba(0, 0, 255, 0.4);*/
    border-radius: 1%;
    /*height: 10%;*/
    overflow: hidden;
}

.objectives-table-row {
    height: 100%;
    width: auto;
    display: flex;
    /*border: 2px solid rgba(0, 0, 255, 0.4); /* Border needs to be changed using a global var in the ti.html script because changing multiple elements dynamically using JS doesn't work for some reason???*/ 
    border-radius: 1%;
}

.gold-border {
    border: 5px solid gold;
}

.silver-border {
    border: 5px solid silver;
}

/* Styling for the right frame container */
.right-frame {
    position: absolute;
    right: 2%; 
    top: 0;
    height: 90%;
}

.right-frame-video {
    position: absolute;
    top: -1%;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1; /* make sure the video is on top of the gif*/
    clip-path: inset(0 4% 0 4%); /* video cropping */
}

#right-frame-filter {
    position: absolute;
    top: 48%;
    right: -42%;
    width: 92%;
    height: 57%;
    z-index: 2;
    translate: -50% -50%;
}

#right-frame-filter-white-noise {
    opacity: 20%
}

#right-frame-filter-live {
    font-size: 1.5vw;
    font-family: 'Nasalization';
    color: rgba(255, 0, 0, 1);
    position: absolute;
    top: 9%;
    left: 8%;
    opacity: 100%;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; } /* Visible at the start and end */
    50% { opacity: 0; }      /* Invisible at the midpoint */
}

#right-frame-filter-video-info {
    font-size: 1.5vw;
    font-family: 'AXON';
    color: rgb(255, 255, 255);
    position: absolute;
    top: 4%;
    right: 5%;
    opacity: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 1px;
}

/* Specific styles for the frame image */
.frame-img {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    z-index: 3;
    position: relative;
    right: 0%;
    top: 0%;
}

/* Specific styles for the No Signal GIF */
.no-signal {
    position: absolute;
    top: -1%;
    left: 0;
    width: 100%; /* Make the GIF fit the right frame */
    height: 100%;
    object-fit: contain; /* Maintain the aspect ratio of the GIF */
    z-index: 1; /* Make sure the GIF appears below the frame */
    clip-path: inset(0 4% 0 4%); /* GIF cropping */
}

/* NEWS ALERT FEED */
.news-bar {
    position: fixed;
    bottom: 3%;
    padding: 10px 20px;
    width: 100%;
    /* Scrolling Text Background Colour */
    background-color: rgba(0, 0, 255, 0.3);
    /* Scrolling Text Colour */
    color: rgb(251, 250, 64);
    font-size: 1.5vw;
    font-family: 'Bebas-Neue', sans-serif;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
}

.news-content {
    display: inline-block;
    /* Animation to scroll the text and the speed in Seconds. Set to 11 hours because games usually take that long. */
    /*animation: scroll 39600s linear infinite;*/
    animation: scroll 3200s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0%); /* Lower percentage ensures the text starts scrolling already on the screen. */
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Visualizer Box */
#visualizer-box {
    position: relative;
    bottom: 7%;
    left: 49%;
    z-index: 2;
    width: 48%;
    height: 15%;
}

/* Visualizer */
#visualizer {
    position: absolute;
    width: 100%;
    height: 70%;
    top: -3%;
}

/* Visualizer Text */
#visualizer-text {
    position: absolute;
    bottom: -19%;
    left: 0%;
    font-size: 2vw;
    font-family: 'Nasalization', sans-serif;
    font-style: italic;
    color: rgb(0, 0, 220); /* Change to your desired color */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}