body {
    font-family: 'Orbitron', sans-serif;
    background: url("{{ url_for('static', filename='Backgrounds/TI4/admin-bg.png') }}");
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

h1 {
    font-size: 4em; /* Increased title size */
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Take all available space */
    justify-content: space-between; /* Evenly distribute buttons */
    align-items: center; /* Center buttons horizontally */
    padding: 20px; /* Padding around the buttons */
}

button {
    background-color: #4B0082; /* Dark Purple */
    color: white;
    border: none;
    padding: 15px;
    font-size: 2em; /* Increased button text size */
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; /* Full width */
    flex-grow: 1; /* Allow buttons to grow and fill space */
    margin: 5px 0; /* Margin between buttons */
}

button:hover {
    background-color: #6A0DAD; /* Lighter Purple */
    transform: scale(1.05);
}

a {
    color: #FFD700; /* Gold */
    text-decoration: none;
    font-size: 3em; /* Increased link text size */
    transition: color 0.3s;
    width: 100%; /* Full width */
    text-align: center; /* Center text in anchor */
    flex-grow: 1; /* Allow links to grow and fill space */
    margin: 5px 0; /* Margin between links */
}

a:hover {
    color: #FFA500; /* Orange */
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* Adjusted title size for smaller screens */
    }

    button, a {
        font-size: 1.2em; /* Adjusted button/link text size for smaller screens */
    }
}