<html>
<header>
  <meta charset="utf-8">
  <h1>Immersion Control Panel</h1>
  <title>Immersion Control Panel</title>
</header>

<button type="button"><a href="/admin/change-score/">Change Player Score</a></button> 

<button type="button"><a href="/admin/add-objective/">Add Public Objective</a></button>

<button type="button"><a href="/admin/change-music/">Change Music</a></button>

<button type="button"><a href="/admin/change-video/">Change Video</a></button>

<a href="/admin/music-selection">Music Selection</a>

<a href="/admin/video-selection">Video Selection</a>

</html>