<html>
<header>
  <meta charset="utf-8">
  <h1>Immersion Control Panel</h1>
  <title>Change Score</title>
</header>

<button type="button"><a href="/">Back</a></button> 

<form method="post">
    <label for="player_name">Choose a player:</label>
    <select name="player_name" id="player_name">
    {% for player in player_names %} 
      <option value="{{ player }}">{{ player }}</option>
    {% endfor %}
    </select> 

    <label for="new_score">New Score:</label>
    <input type="number" id="new_score" name="new_score" min="0" max="12"/>

    <button type="submit" >Change Score</button> 
</form>

</html>