<html>
<header>
  <meta charset="utf-8">
  <h1>Immersion Control Panel</h1>
  <title>Immersion Control Panel</title>
</header>

<button type="button"><a href="/change-score/">Change Player Score</a></button> 

<button type="button"><a href="/add-objective/">Add Public Objective</a></button>

<button type="button"><a href="/change-music/">Change Music</a></button>

<button type="button"><a href="/change-video/">Change Video</a></button>

<a href="http://192.168.0.100:5001/">Music Selection</a>

<a href="http://192.168.0.100:5002/">Video Selection</a>

</html>