<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        /* Banner Font */
        @font-face {
            font-family: 'BebasNeue';
            src: url("{{ url_for('static', filename='fonts/BebasNeue-Regular.ttf') }}") format('truetype');
        }

        /* Description Font */
        @font-face {
            font-family: 'Oswald';
            src: url("{{ url_for('static', filename='fonts/Oswald-Regular.ttf') }}") format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <!-- Have this be more dynamic in the future when authentication is implemented -->
    <div id="welcome-banner">
        <span class="banner-text">Welcome back, Stefan</span> 
    </div>

    <div id="index-buttons">
        <button id="gamesButton">Games</button>
        <button id="sessionsButton">Sessions</button>
    </div>

    <div id="games-container">
        <div id="game-ti4" class="game">
            <span class="game-title">Twilight Imperium (Fourth Edition)</span>
            <div class="game-middle-content">
                <img class="game-image" src="{{ url_for('static', filename='Backgrounds/TI4/setup.png') }}">
                <span class="game-description">Twilight Imperium (Fourth Edition) is a game of galactic conquest in which three to six players each take on the role of one of seventeen factions vying for galactic domination through military might, political maneuvering, and economic bargaining. Every faction offers a completely different play experience, from the wormhole-hopping Ghosts of Creuss to the Emirates of Hacan, masters of trade and economics. These seventeen races are offered many paths to victory, but only one may sit upon the throne of Mecatol Rex as the new masters of the galaxy.</span>
            </div>
            <div class="game-buttons">
                <button onclick="window.location.href='/ti/setup';">Dashboard</button>
                <button onclick="window.location.href='#';">Map</button>
            </div>
        </div>
    </div>

    <div id="sessions-container">

    </div>

    <script>
        sessionsFileUrl = "{{ url_for('static', filename='data/sessions.json') }}"
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sessions.js') }}"></script>
</body>
</html>
