<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twilight Imperium Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ti-setup.css') }}">
    
</head>
<body>
    <!--This Line Below Renders the Space Scene -->
    <canvas id="space"></canvas>
    <canvas id="visualizer" width="600" height="100"></canvas>
    <audio id="warp-sound" src="{{ url_for('static', filename='Sounds/Hyperspace-Jump-2.mp3') }}" preload="auto"></audio>
    <audio id="visualizer-sound" preload="auto">
        <source src="{{ url_for('static', filename=setup_song) }}" type="audio/mp3">
    </audio>
    <a href="#" id="warp">Start Game</a>
    <!--This Is where you would render the text on the screen -->
    <div class="title">TWILIGHT IMPERIUM</div>
    <div class="subtitle">-- Setup In Progress --</div>
    <div class="small-text">GM Online - Please Use Caution</div>
    <script src="{{ url_for('static', filename='js/ti-setup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio_visualizer.js') }}"></script>
   
   
</body>
</html>
